<h1>Mi aplicación</h1>
<h2>Aplicaciones web 2022-B</h2>
<!-- <h3>voy a llamar a la propiedad "title" de .ts doble llaves</h3>
<h2>{{title}}</h2>
<h1>voy a incrustar el componente libro</h1>
<h1>Primera llamada</h1>
<libro></libro>
<h1>Segunda llamada</h1>
<libro></libro>
<h2>llamo al componente Zapatilla desde app.component.html</h2>
<zapatilla></zapatilla>

<p>voy a llamar al nuevo componente 
    que se ha generado de forma automática 
</p>
<app-contacto></app-contacto>
<app-home></app-home>
<app-externo></app-externo> -->

<nav>
    <a [routerLink] = "'/home'" [routerLinkActive]="'active'">Home</a> &nbsp;
    <a [routerLink] = "'/libro'" [routerLinkActive]="'active'">libro</a> &nbsp;
    <a [routerLink] = "'/zapatilla'" [routerLinkActive]="'active'">zapatilla</a> &nbsp;
    <a [routerLink] = "'/externo'" [routerLinkActive]="'active'">externo</a> &nbsp;
    <a [routerLink] = "'/contacto'" [routerLinkActive]="'active'">contacto</a> &nbsp;
</nav>
<router-outlet></router-outlet>